<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4">
		  Contact:<br />
		  Dr. José Luis Gómez <br />
		  		E-mail: <a href="mailto:jlgomez@iaa.es">jlgomez@iaa.es</a> <br/>
          Telephone: +34 958 230 604 <br/>
          Instituto de Astrofísica de Andalucía <br/>
          Granada, Spain (<a href="https://goo.gl/maps/MGoFVqxxLStVL5du9">Maps</a>)
		</div>

		<div class="col-sm-4">
			<p align="right">&copy VLBI Group. Updated: 17-06-2025. <br/> <br/> <a href="https://twitter.com/iaavlbi">Twitter</a>  &nbsp;| &nbsp; <a href="https://www.instagram.com/iaavlbi/"> Instagram</a>  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  </p>        		           
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
